---
import PortableText from "@/components/PortableText/PortableText.astro";
import { formatDateOnly } from "@/lib/utils";
import { getPost } from "@/queries/post";
import Layout from "../layouts/Layout.astro";

const firstPost = await getPost("our-messy-completely-foreseeable-birthday");
const { body, title, _createdAt } = firstPost;
---

<Layout>
  <main class="mt-10">
    <article class="prose-custom content-container">
      <h1>{title}</h1>
      {
        _createdAt && (
          <time
            datetime={_createdAt?.toISOString()}
            class="text-foreground/80 text-md"
          >
            {formatDateOnly(_createdAt)}
          </time>
        )
      }
      <PortableText value={body} />
    </article>
  </main>
</Layout>
